<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">SISTEMA DE CAPTURA DE ARCHIVOS</h4>
                        <p class="card-category">CARGA DE ARCHIVOS</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-label>Elija un tipo de Archivo</mat-label>
                                        <mat-select [(value)]="_archivo" (selectionChange)="changeEntidad($event.value)">
                                          <mat-option *ngFor="let t of tipoArchivo" [value]="t.id">
                                            {{ t.nombre}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Elija una Entidad</mat-label>
                                        <mat-select [(value)]="entidad">
                                            <mat-option *ngFor="let e of entidades" [value]="e.sigla">
                                                {{ e.nombre}}
                                              </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Seleccione una fecha</mat-label>
                                        <input matInput [matDatepicker]="picker">
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                          <mat-icon matDatepickerToggleIcon>+</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                      
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-list>
                                        <mat-list-item>Item 1</mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>Item 2</mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>Item 3</mat-list-item>
                                    </mat-list>
                                 </div>
                                 <div class="col-md-7">
                                    <div class="container-fluid">
                                        <div class="row">
                                           
                                                <div class="card">
                                                    <div class="card-header card-header-danger">
                                                        <p class="card-category">01/06/2019</p>
                                                    </div>
                                                    <div class="card-body">
                                                        
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">CARGAR ARCHIVO</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

        <div class="row" >
            <div class="col-md-10" >
                <div class="card" layout-align="center">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">LISTA DE ARCHIVOS CARGADOS A FECHA</h4>
                        <p class="card-category">01/06/2019</p>
                    </div>
                    <div class="card-body">
                        aaaaa
                        ffff
                    </div>
                </div>
            </div>
        </div>
